<h2>Utilisateurs</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th><b>Nom d'utilisateur</b></th>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Role</th>
            <th>Date d'inscription</th>
            <th class="detail-th"></th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr [ngClass]="{'banned': user.banned}">
                <td>{{user.id}}</td>
                <td><b>{{user.username}}</b></td>
                <td>{{user.email}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.birth_date | date:'mediumDate'}}</td>
                <td>{{user.role}}</td>
                <td>{{user.signin_date | date:"full"}}</td>
                <td class="detail-td"><a [routerLink]="[user.id]">Page profil</a></td>
            </tr>
        }
    </tbody>
</table>
