.hero-fullscreen-height {
    min-height: calc(100vh - 76px);
}

.hero-fullscreen-height-minus-footer {
    min-height: calc(100vh - 76px - 100px);
}

.hero-fullscreen-height-minus-footer.but-not-on-mobile {
    @media (max-width: 768px) {
        min-height: calc(100vh - 76px);
    }
}