section {
    margin: 2rem;
}

table {
  border-collapse: collapse;
  width: 95%;
  padding: 0 2rem;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

th {
    font-weight: bold;
}

th b {
    font-weight: bolder;
}

.detail-th, .detail-td {
    border: none;
}